.Facilities {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    background: var(--backgroundimage);
}
.left-fa{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
   
}
.left-fa>:nth-child(1){
    -webkit-text-stroke-color: white;
    font-weight: 800;
}
.left-fa>:nth-child(2){
    
    font-weight: 600;
}
.left-fa .list {
  
    margin-top: 20px;
    font-size: 0.92rem;
  }
  
  .left-fa .list ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .left-fa .list li {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .left-fa .list p {
    gap: 1rem;
  }
  /*lado derecho*/
  .right-fa {
   flex: 1;
   position: relative;
  }

  .right-fa>img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
  }
  .right-fa>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid gold;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
  }
  .right-fa>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
  
    background: linear-gradient(to top, #ff7300, #ffdd03);
    right: 7rem;
    top: 4rem;
  }

  .arrows {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: -1.5rem;
    user-select: none;
  }
  .arrows span {
    font-size: 24px; /* Tamaño de fuente para hacer las flechas más grandes */
    cursor: pointer; /* Cambia el cursor al pasar sobre las flechas */
    background-color: #279eec; /* Cambia el color de fondo a dorado */
    color: #ffffff; /* Cambia el color del texto a blanco */
    padding: 5px 10px; /* Añade espacio alrededor de las flechas */
    border-radius: 50%; /* Hace que las flechas tengan forma circular */
    margin: 0 10px; /* Agrega margen a cada flecha para separarlas */
  }
  .arrows span:hover {
    background-color: #1687d3; /* Cambia el color de fondo a dorado */
  }
  
  .arrows span:active {
    background-color: #76c2f5; /* Cambia el color de fondo a dorado */
  }
  
  
  @media screen and (max-width: 768px){
    .Facilities{
      flex-direction: column;
      
    }
    .left-fa>:nth-child(1), .left-fa>:nth-child(2){
      font-size: x-large;
    }
    .right-fa {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
    .right-fa >div{
      position: relative;
      left: 0;
      
    }
    .right-fa >img {
      position: relative;
      align-self: center;
      top: 0;
      right: 0;
    }
    .right-fa >:last-child{
      display: block;
      left: 0;

    }
   }
  